<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inbound Receipt</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pallets">Pallets</a>
        </li>
        <li>
          <a class="nav-link" href="/forkliftAssignment">forklift</a>
        </li>
        <li>
          <a class="nav-link" href="/forkliftOperator"> forkliftOperator</a>
        </li>
          <a class="nav-link" href="/TransferOrders">Confirmed Transfer orders </a>
        </li>
      </li>
      <a class="nav-link" href="/login">login </a>
    </li>
      </ul>
    </div>
  </nav>
  